JWT_SECRET=academic-secret
AUTH_PORT=3001
SCHEDULING_PORT=3002
NOTIFICATION_PORT=3003
AUTH_DATABASE_URL=postgres://poolcare:poolcare@localhost:5433/auth_db
SCHEDULING_DATABASE_URL=postgres://poolcare:poolcare@localhost:5434/scheduling_db
NOTIFICATION_DATABASE_URL=postgres://poolcare:poolcare@localhost:5435/notification_db
NOTIFICATION_URL=http://localhost:3003
